/* COMEÇO ANIMAÇÕES */
@keyframes c-glowing-plum {
    0% {
      box-shadow: 0 0 5px var(--cor-player1-fraca), 0 0 5px var(--cor-player1-fraca), 0 0 15px var(--cor-player1-fraca), 0 0 20px var(--cor-player1-principal), 0 0 10px var(--cor-player1-principal), 0 0 10px var(--cor-player1-principal), 0 0 10px var(--cor-player1-principal), 0 0 10px var(--cor-player1-principal);
    }
  
    to {
      box-shadow: 0 0 2.5px var(--cor-player1-fraca), 0 0 2.5px var(--cor-player1-fraca), 0 0 7.5px var(--cor-player1-fraca), 0 0 10px var(--cor-player1-principal), 0 0 5px var(--cor-player1-principal), 0 0 5px var(--cor-player1-principal), 0 0 5px var(--cor-player1-principal), 0 0 2px var(--cor-player1-principal);
    }
  }
  
  @keyframes c-glowing-green {
    0% {
      box-shadow: 0 0 5px var(--cor-player2-fraca), 0 0 5px var(--cor-player2-fraca), 0 0 15px var(--cor-player2-fraca), 0 0 20px var(--cor-player2-principal), 0 0 10px var(--cor-player2-principal), 0 0 10px var(--cor-player2-principal), 0 0 10px var(--cor-player2-principal), 0 0 10px var(--cor-player2-principal);
    }
  
    to {
      box-shadow: 0 0 2.5px var(--cor-player2-fraco), 0 0 2.5px var(--cor-player2-fraco), 0 0 7.5px var(--cor-player2-fraco), 0 0 10px var(--cor-player2-principal), 0 0 5px var(--cor-player2-principal), 0 0 5px var(--cor-player2-principal), 0 0 5px var(--cor-player2-principal), 0 0 2px var(--cor-player2-principal);
    }
  }
  

  /* Para o texto, se quiser */
  
  /* @keyframes text-glowing-blue {
    0% {
      text-shadow: 0 0 1px var(--cor-padrao), 0 0 1px var(--cor-padrao), 0 0 1px var(--cor-padrao), 0 0 1px var(--cor-azul-media), 0 0 5px var(--cor-azul-media), 0 0 2px var(--cor-azul-media), 0 0 10px var(--cor-azul-media), 0 0 10px var(--cor-azul-media)
    }
  
    to {
      text-shadow: 0 0 .5px var(--cor-padrao), 0 0 .5px var(--cor-padrao), 0 0 .5px var(--cor-padrao), 0 0 .5px var(--cor-azul-media), 0 0 5px var(--cor-azul-media), 0 0 .5px var(--cor-azul-media), 0 0 5px var(--cor-azul-media), 0 0 2px var(--cor-azul-media)
    }
  }
  
  @keyframes text-glowing-red {
    0% {
      text-shadow: 0 0 1px var(--cor-marrom-fraco), 0 0 1px var(--cor-marrom-fraco), 0 0 1px var(--cor-marrom-fraco), 0 0 1px var(--cor-vermelha-fraca), 0 0 5px var(--cor-vermelha-fraca), 0 0 2px var(--cor-vermelha-fraca), 0 0 10px var(--cor-vermelha-fraca), 0 0 10px var(--cor-vermelha-fraca)
    }
  
    to {
      text-shadow: 0 0 .5px var(--cor-marrom-fraco), 0 0 .5px var(--cor-marrom-fraco), 0 0 .5px var(--cor-marrom-fraco), 0 0 .5px var(--cor-vermelha-fraca), 0 0 5px var(--cor-vermelha-fraca), 0 0 .5px var(--cor-vermelha-fraca), 0 0 5px var(--cor-vermelha-fraca), 0 0 2px var(--cor-vermelha-fraca)
    }
  } */
  
  /* FIM ANIMAÇÕES */