@media (max-width: 1280px) {
    .header .title {
        font-size: 40px;
    }

    .character-selection .character-list {
        max-width: 330px;
    }

    .character-selection .character-list .character {
        width: 100px;
        height: 100px;

    }

    .character-selection .big-character img {
        width: 40%;
        height: 60vh;

    }

    .character-selection .big-character img {
        position: absolute;
        left: 50%;
        top: 50%;
    }

    .character-selection .big-character.player-2 img {
        width: 40%;
        top: 80px;
        left: 100px;

        width: 40%;
        height: 450px;
    }

}

@media (max-width: 767px) {
    body::before {
        background-image: url("../imagens/bg-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
    }

    main {
        padding: 0 5px;
        justify-content: start;
    }

    .header .title {
        font-size: 22px;
    }

    .character-selection .big-character {
        display: none;
    }
    
}

@media(max-width: 360px) {
    .header .title {
        font-size: 19px;
    }


}