body {
    background-color: var(--cor-secundaria);
}

body::before {
    content: '';
    background-image: url(../img/background2-mk.gif);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    z-index: 1;
    display: flex;
    justify-content: center;
}

.header .title {
    color: #fff;
    font-family: 'MK-MYTH', sans-serif;
    font-size: 70px;
    line-height: 102px;
}


/* personagens */
.character-selection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.character-selection .big-character {
    text-align: center;
    width: 30%;
    height: 70vh;
    position: relative;
}

.character-selection .big-character img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.character-selection .big-character h2 {
    color: #fff;
    font-family: 'MK-4', sans-serif;
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 27px;

}


/* linha do nome */
.character-selection .big-character .name::before {
    content: '';
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: -15px;
    left: 0;

}

.character-selection .big-character.player-1 .name::before {
    background-color: #dda0dd;
}

.character-selection .big-character.player-2 .name::before {
    background-color: #adff2f;
}

/* lista */
.character-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    justify-content: center;
    gap: 12px
}

.character-list .character {
    border: 2px solid #fff;
    background-color: #2b2b2b;
    width: 30%;
    height: 190px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    position: relative;
    transition: 0.15s ease-in-out;
}

.character-list .character img {
    width: 90%;
    height: 80%;
    border: 2px solid #fff;
    border-radius: 5px;

}

.character-list .character.slected {
    border: 2px solid plum;
    animation: c-glowing-plum .3s ease-in-out infinite;
    animation-direction: alternate;
}