body {
    background-color: var(--cor-secundaria);
}

body::before {
    content: '';
    background-image: url(../img/background3-mk.gif);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    z-index: 1;
    display: flex;
    justify-content: center;
}

.header .title {
    color: var(--cor-padrao);
    font-family: 'MK-MYTH', sans-serif;
    font-size: 70px;
    line-height: 102px;
}


/* personagens */
.character-selection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.character-selection .big-character {
    text-align: center;
    width: 30%;
    height: 70vh;
    position: relative;
}

.character-selection .big-character img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.character-selection .big-character h2 {
    color: var(--cor-padrao);
    font-family: 'MK-4', sans-serif;
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 45px;

}


/* linha do nome */
.character-selection .big-character .name::before {
    content: '';
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: -15px;
    left: 0;

}

.character-selection .big-character.player-1 .name::before {
    background-color: var(--cor-player1-fraca);
}

.character-selection .big-character.player-2 .name::before {
    background-color: var(--cor-player2-principal);
}

/* lista */
.character-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    justify-content: center;
    gap: 15px
}

.character-list .character {
    border: 2px solid var(--cor-padrao);
    width: 30%;
    height: 150px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    position: relative;
    transition: 0.15s ease-in-out;
}

.character-list .character img {
    width: 100%;
    height: 100%;
    border: 2px solid var(--cor-padrao);
    border-radius: 5px;

}

/* personagem selecionado com brilho */
.character-list .character.selected {
    border: 2px solid var(--cor-player1-fraca);
    animation: c-glowing-plum .3s ease-in-out infinite;
    animation-direction: alternate;
}

.character-list .character.player-2-selected {
    border: 2px solid var(--cor-player2-fraca);
    animation: c-glowing-green .3s ease-in-out infinite;
    animation-direction: alternate;
}

.character-list .character:hover {
    animation: c-glowing-plum .3s ease-in-out infinite;
    animation-direction: alternate;
    transform: scale(1.07);
    z-index: 2;
}

.character-list .character.player-2-selected:hover {
    animation: c-glowing-green .3s ease-in-out infinite;
    animation-direction: alternate;

}

.character-list .character .tag {
    display: none;
    font-family: 'MK-4', serif;
    position: absolute;
    top: 5px;
    left: 5px;
    color: var(--cor-padrao);
    transition: opacity 0.3s ease-in-out;
    animation: alternate;

    /* se quiser colocar animação no texto */
    /* animation: text-glowing-plum .3s ease-in-out infinite;
    animation-direction: alternate; */
}

.character-list .character.selected .tag {
    display: block;

    /* se quiser colocar animação no texto */
    /* animation: text-glowing-plum .3s ease-in-out infinite;
    animation-direction: alternate; */
}

.character-list .character.player-2-selected .tag {
    display: block;

    /* se quiser colocar animação no texto */
    /* animation: text-glowing-green .3s ease-in-out infinite;
    animation-direction: alternate; */
}

.character-selection .big-character.player-1 img {
    width: 80%;
}

.character-selection .big-character.player-2 img {
    width: 40%;
      
}