:root {
    --cor-player2-fraca: #45f053;
    --cor-player2-principal: #adff2f;
 
    --cor-player1-principal: #f702f7;
    --cor-player1-fraca: #e38ff8;

  
    --cor-padrao: #ffffff;
    --cor-secundaria: #2b2b2b;
}